<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="icon" href="public/img/favicon.ico">
    <title>Institucional</title>

    <link href="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="public/css/style.css">
    <link rel="stylesheet" href="public/css/reset.css">
    <link rel="stylesheet" href="public/css/bootstrap.min.css">
    
    <!-- <script defer src="https://use.fontawesome.com/releases/v4.0.1/js/all.js"></script> -->
    <script defer src="https://use.fontawesome.com/releases/v5.0.1/js/all.js"></script>

</head>

<body>

    <header>

        <nav class="navbar justify-content-center fixed-top no-padding menu-superior">

            <ul class="nav">
                <li class="nav-item">
                  <a class="nav-link" href="./index.html">Início</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="./about.html">Sobre</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="./institucional.html">Institucional</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="http://www.maceio.al.gov.br/" target="_blank">Site da Prefeitura</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="./sitemap.html">Mapa do Site</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="./fale_conosco.html">Fale Conosco</a>
                </li>

            </ul>

        </nav>

    </header>

    <section class="section-white sitemap-top">






<div class="row" id="tabfiltros">
			<div class="ng-isolate-scope">
  <ul class="nav nav-tabs" ng-class="{'nav-stacked': vertical, 'nav-justified': justified}" ng-transclude="">
				<!-- ngRepeat: conteudo in conteudos --><li ng-class="{active: active, disabled: disabled}" ng-repeat="conteudo in conteudos" class="border_link_aba ng-isolate-scope active" heading="PREFEITURA DE MACEIÓ" ng-click="selecionarAba(0)" active="tab1active" role="button" tabindex="0" style="">
  <a href="" ng-click="select()" uib-tab-heading-transclude="" class="ng-binding">PREFEITURA DE MACEIÓ</a>
</li><!-- end ngRepeat: conteudo in conteudos -->
			</ul>
  <div class="tab-content">
    <!-- ngRepeat: tab in tabs --><div class="tab-pane ng-scope active" ng-repeat="tab in tabs" ng-class="{active: tab.active}" uib-tab-content-transclude="tab" style="">
        
					<div class="col-xs-10 col-xs-offset-1 ng-scope">                
						<div align="justify">
						<p ng-bind-html="conteudo.ContConteudo" class="ng-binding"><ol>
	<li><strong>&nbsp; &nbsp; &nbsp; &nbsp;1.&nbsp;<a href="http://www.maceio.al.gov.br/">GABINETE DO PREFEITO DE MACEIÓ</a>&nbsp;</strong></li>
</ol>

<p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;Rua Sá e Albuquerque, Nº 235 - Jaraguá, Maceió/AL. CEP: 57022-180 - Telefone: 3315.5070 / 3315.5055.&nbsp;</p>

<p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;<strong>Horário de atendimento ao público: das 8h às 14h.</strong></p>

<p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;<strong>PREFEITO DE MACEIÓ: RUI SOARES PALMEIRA</strong></p>

<p><strong>&nbsp; &nbsp; &nbsp; &nbsp;2.&nbsp;<a href="http://www.maceio.al.gov.br/gvp/">GABINETE VICE-PREFEITURA DE MACEIÓ</a>&nbsp;</strong></p>

<p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;Rua Jornalista Lafaiete Belo, Nº 47, Poço. Maceió/AL. CEP: 57025-690 - Telefone: 3315.2124.</p>

<p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;<strong>Horário de atendimento ao público: das 8h às 14h.</strong></p>

<p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;<strong>VICE-PREFEITO DE MACEIÓ: MARCELO PALMEIRA CAVALCANTE</strong></p>

<p><strong>&nbsp; &nbsp; &nbsp; &nbsp;3.&nbsp;<a href="http://www.maceio.al.gov.br/ggov/">GABINETE DE GOVERNANÇA – GGOV</a>&nbsp;</strong></p>

<p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;Rua Sá e Albuquerque, Nº 235, Jaraguá - Maceió/AL. CEP: 57022-180 - Telefone: 3315.5070.</p>

<p><strong>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;Horário de atendimento ao público: das 8h às 14h.</strong></p>

<p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; <strong>SECRETÁRIO:&nbsp;JOSÉ LAGES JÚNIOR</strong></p>

<p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; SECRETÁRIA ADJUNTA DE AÇÕES PROSPECTIVAS: Fernanda Cortez Silva</p>

<p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; SECRETÁRIA ADJUNTA DE GESTÃO DE RISCOS E OBSERVATÓRIO DE DESEMPENHO: Íria Rocha Cavalcante De Almeida</p>

<p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; SECRETÁRIO ADJUNTO DE ESTRATÉGIA E PROJETOS PRIORITÁRIOS: Dênis Jatobá Agra Filho</p>

<p>&nbsp; &nbsp; &nbsp;<strong> &nbsp;4.<a href="http://www.maceio.al.gov.br/smg/">SECRETARIA MUNICIPAL DE GOVERNO- SMG</a></strong></p>

<p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; Rua Sá e Albuquerque, Nº 235 - Jaraguá, Maceió/AL. CEP: 57022-180 - Telefone: 3315.5070.</p>

<p><strong>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; Horário de atendimento ao público: das 8h às 14h.</strong></p>

<p><strong>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; SECRETÁRIO:&nbsp;JOSÉ EDUARDO ACCIOLY CANUTO</strong></p>

<p>&nbsp; &nbsp; &nbsp; &nbsp;<strong>SAEDEC – SECRETÁRIA ADJUNTA ESPECIAL DA DEFESA CIVIL:</strong></p>

<p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;Rua Marquês do Pombal, s/nº - Vergel do Lago, Maceió/AL. CEP: 57036-510 - Telefone: (82) 3315.1437. Central: 08000306205.</p>

<p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;<strong>Horário de atendimento ao público: das 8h às 14h.</strong></p>

<p><strong>&nbsp; &nbsp; &nbsp;<a href="http://www.maceio.al.gov.br/defesacivil/">DEFESA CIVIL:</a></strong></p>

<p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;<strong>DINÁRIO AUGUSTO LEMOS JÚNIOR</strong></p>

<p><strong>&nbsp; &nbsp; PROCON MACEIÓ</strong></p>

<p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; Rua Pedro Monteiro, No 47. Centro. Maceió/AL. CEP: 57020-380 -Telefone: (82) 3315.3721.</p>

<p><strong>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; Horário de atendimento ao público: das 8h às 16h.</strong></p>

<p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;<strong>DIRETOR EXECUTIVO: LEANDRO ALMEIDA JESUS</strong></p>

<p>&nbsp; &nbsp; &nbsp; &nbsp;<strong>5.&nbsp;<a href="http://www.maceio.al.gov.br/pgm/">PROCURADORIA GERAL DO MUNICÍPIO – PGM</a></strong></p>

<p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; Rua Pedro Monteiro, Nº 291 - Centro, Maceió/AL. CEP: 57020-380 - Telefone: (82) 3327.7409.</p>

<p><strong>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; Horário de atendimento ao público: das 8h às 14h.</strong></p>

<p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;<strong>PROCURADOR GERAL DO MUNICÍPIO: DIOGO SILVA COUTINHO&nbsp;</strong></p>

<p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;PROCURADOR ADJUNTO DO MUNICÍPIO: Rodrigo Albuquerque De Victor&nbsp;</p>

<p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;PROCURADOR CHEFE LEGISLATIVO: José Tenório Nunes Filho</p>

<p>&nbsp; &nbsp; &nbsp; &nbsp;<strong>6.<a href="http://www.maceio.al.gov.br/smci/">SECRETARIA MUNICIPAL DE CONTROLE INTERNO – SMCI</a></strong></p>

<p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; Rua Sá e Albuquerque, Nº 235 – Jaraguá, Maceió/AL. CEP: 57022-180 -Telefone: (82) 3315.5070.</p>

<p><strong>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; Horário de atendimento ao público: das 8h às 14h.</strong></p>

<p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;<strong>SECRETÁRIO:&nbsp;NEANDER TELES ARAÚJO</strong></p>

<p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;SECRETÁRIO ADJUNTO: Antônio Estanislau de Oliveira Neto</p>

<p><strong>&nbsp; &nbsp; &nbsp; &nbsp;7.<a href="http://www.maceio.al.gov.br/semas/">SECRETARIA MUNICIPAL DE ASSISTÊNCIA SOCIAL– SEMAS</a></strong></p>

<p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; Avenida Comendador Leão, Nº 13883 - Poço, Maceió/AL. CEP: 57025-000 - Telefone: (82) 3315.7378. Bolsa Família (82) 3315.3686 / 3315.3679.</p>

<p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; <strong>Horário de atendimento ao público: das 8h às 14h.</strong></p>

<p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;<strong>SECRETÁRIO:&nbsp;MARCELO PALMEIRA CAVALCANTE</strong></p>

<p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; SECRETÁRIA ADJUNTA: Nadja Braga Quirino De Oliveira</p>

<p><strong>&nbsp; &nbsp; &nbsp; &nbsp;8.<a href="http://www.maceio.al.gov.br/secom/">SECRETARIA MUNICIPAL DE COMUNICAÇÃO</a>&nbsp;-&nbsp;<a href="http://www.maceio.al.gov.br/secom/">SECOM</a></strong></p>

<p><strong>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; </strong>Rua Sá e Albuquerque, Nº 235 – Jaraguá, Maceió/AL. CEP: 57022-180 - Telefone: (82) 3315.5077.</p>

<p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; <strong>Horário de atendimento ao público: das 8h às 14h.</strong></p>

<p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;<strong>SECRETÁRIA:&nbsp;ELIANE ALBUQUERQUE DE AQUINO</strong></p>

<p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; SECRETÁRIA ADJUNTA DE COMUNICAÇÃO: Elenilda Oliveira</p>

<p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; SECRETÁRIO ADJUNTO DE ADMINISTRAÇÃO E FINANÇAS: Maria Amélia Rodas de Carvalho Gama</p>

<p><strong>&nbsp; &nbsp; &nbsp; &nbsp;9</strong><strong>.<a href="http://www.maceio.al.gov.br/sedet/">SECRETARIA MUNICIPAL DE DESENVOLVIMENTO TERRITORIAL E MEIO AMBIENTE – SEDET</a></strong></p>

<p><strong>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; </strong>Avenida Governador Afrânio Lages, Nº 297 - Farol, Maceió/AL. CEP: 57017-225 Telefone: (82) 3315.4754.</p>

<p><strong>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; Horário de atendimento ao público: das 8h às 14h.</strong></p>

<p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;<strong>SECRETÁRIA:&nbsp;ROSA MARIA BARROS TENÓRIO</strong></p>

<p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;SECRETÁRIO ADJUNTO DE MEIO AMBIENTE: Antônio de Pádua Carvalho Paes</p>

<p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;SECRETÁRIO ADJUNTO DE HABITAÇÃO POPULAR: Anderson Ricardo de Alencar</p>

<p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;SECRETÁRIA ADJUNTA DE PLANEJAMENTO URBANO: Tácio Rodrigues Batista de Oliveira&nbsp;</p>

<p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;SECRETÁRIA ADJUNTA DE ANÁLISE E LICENCIAMENTO: Cristina Benamor de Araújo Jorge</p>

<p><strong>&nbsp; &nbsp; &nbsp; &nbsp;10.<a href="http://www.maceio.al.gov.br/semed/">SECRETARIA MUNICIPAL DE EDUCAÇÃO – SEMED</a></strong></p>

<p><strong>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; </strong>Rua General Hermes, Nº 1199 – Cambona, Maceió/AL. CEP: 57017-2011- Telefone: (82) 3315.1029.</p>

<p><strong>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; Horário de atendimento ao público: das 8h às 14h.</strong></p>

<p><strong>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; S</strong><strong>ECRETÁRIA:&nbsp;</strong><strong>ANA DAYSE REZENDE DÓREA</strong></p>

<p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; SECRETARIA ADJUNTA DE GOVERNANÇA: Maria José Menezes Messias (Prof.ª. ZEZÉ)&nbsp;</p>

<p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; SECRETÁRIA ADJUNTA DE GESTÃO EDUCACIONAL: Maridalva Santos Passos Campos</p>

<p><strong>&nbsp; &nbsp; &nbsp; &nbsp;11.<a href="http://www.maceio.al.gov.br/semec/">SECRETARIA MUNICIPAL DE ECONOMIA – SEMEC</a></strong></p>

<p><strong>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; </strong>Rua Pedro Monteiro, Nº 47. Centro. Maceió/AL. CEP: 57020-380 - Telefones: (82) 3315.2570/(82) 3315.2566.</p>

<p><strong>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; Horário de atendimento ao público: das 8h às 14h.</strong></p>

<p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;<strong>SECRETÁRIO:&nbsp;FELLIPE DE MIRANDA FREITAS MAMEDE</strong></p>

<p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; SECRETÁRIOS ADJUNTOS: Dário César Barbosa da Silva Júnior, Marcos Antônio Mero Sales e Valdo França Pinto</p>

<p><strong>&nbsp; &nbsp; &nbsp; &nbsp;12.<a href="http://www.maceio.al.gov.br/semge/">SECRETARIA MUNICIPAL DE GESTÃO – SEMGE</a></strong></p>

<p><strong>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; </strong>Rua Pedro Monteiro, nº 05 – Centro, Maceió/AL. CEP: 57020-380 -Telefone: (82) 3315.7101.</p>

<p><strong>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; Horário de atendimento ao público: das 8h às 14h.</strong></p>

<p><strong>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; S</strong><strong>ECRETÁRIO:&nbsp;</strong><strong>REINALDO BRAGA DA SILVA JÚNIOR</strong></p>

<p><strong>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; </strong>SECRETARIA ADJUNTA DE GESTÃO DE PESSOAS: Israel Souza Guerreiro</p>

<p><strong>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; </strong>SECRETARIA DE FORMAÇÃO E DESENVOLVIMENTO PESSOAL: Maria Pedro Abreu</p>

<p><strong>&nbsp; &nbsp; &nbsp; &nbsp;13.<a href="http://www.maceio.al.gov.br/seminfra/">SECRETARIA MUNICIPAL DE INFRAESTRUTURA – SEMINFRA</a></strong></p>

<p><strong>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; </strong>Rua do Imperador, nº 307 – Centro, Maceió/AL. CEP: 57023-060 -Telefone: (82) 3315.5007.</p>

<p><strong>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; Horário de atendimento ao público: das 8h às 14h.</strong></p>

<p><strong>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; </strong><strong>SECRETÁRIO:&nbsp;</strong><strong>MAC MERRHON LIRA PAES</strong></p>

<p><strong>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; </strong>SECRETÁRIO ADJUNTO DE ADMINISTRAÇÃO E FINANÇAS: Sérgio Douglas Barbosa Macedo&nbsp;</p>

<p><strong>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; </strong>SECRETÁRIO ADJUNTO DE OBRAS: Disneys Pinto Da Silva</p>

<p><strong>&nbsp; &nbsp; &nbsp; &nbsp;14.<a href="http://www.maceio.al.gov.br/semelj/">SECRETARIA MUNICIPAL DE ESPORTE, LAZER E JUVENTUDE –SEMELJ</a></strong></p>

<p><strong>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; </strong>Rua Sá e Albuquerque, Nº 235. Jaraguá. Maceió/AL. CEP: 57022-180 - Telefone: 3315.6019.</p>

<p><strong>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; Horário de atendimento ao público: das 8h às 14h.</strong></p>

<p><strong>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; </strong><strong>SECRETÁRIO:&nbsp;</strong><strong>DANIEL LUIZ MAIA DE MELLO</strong></p>

<p><strong>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; </strong>SECRETÁRIO ADJUNTO: Diogo Barros Rebelo</p>

<p><strong>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; </strong>SECRETÁRIA ADJUNTA ESPECIAL DE POLÍTICAS PÚBLICAS E JUVENTUDE: Aline Leite Galvão</p>

<p><strong>&nbsp; &nbsp; &nbsp; &nbsp;15.<a href="http://www.maceio.al.gov.br/semds/">SECRETARIA MUNICIPAL DE DESENVOLVIMENTO SUSTENTÁVEL – SEMDS</a></strong></p>

<p><strong>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; </strong>Rua Marquês de Abrantes, s/nº - Bebedouro, Maceió/AL. CEP: 57018-330 -Telefone: (82) 3315.4735/(82) 3315.47360.</p>

<p><strong>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; Horário de atendimento ao público: das 8h às 14h.</strong></p>

<p><strong>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; </strong><strong>SECRETÁRIO:&nbsp;</strong><strong>GUSTAVO ALBERTO ACIOLI DE PAIVA TORRES</strong></p>

<p><strong>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; </strong>SECRETÁRIO ADJUNTO: Fábio Leite Palmeira</p>

<p><strong>&nbsp; &nbsp; &nbsp; &nbsp;16.&nbsp;<a href="http://www.maceio.al.gov.br/semscs/">SECRETARIA MUNICIPAL DE SEGURANÇA COMUNITÁRIA E CONVIVIO SOCIAL – SEMSCS</a>&nbsp;</strong></p>

<p><strong>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; </strong>Rua Alexandre Passos, s/nº. Jaraguá. Maceió/AL. CEP: 57022-190 - Telefone: (82)3315.1920.</p>

<p><strong>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; Horário de atendimento ao público: das 8h às 14h.</strong></p>

<p><strong>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</strong><strong>SECRETÁRIO:&nbsp;</strong><strong>ÊNIO BOLIVAR DE ALBUQUERQUE</strong></p>

<p><strong>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; </strong>SECRETÁRIO ADJUNTO: Dogival Ferreira da Silva</p>

<p><strong>&nbsp; &nbsp; &nbsp; &nbsp;17.<a href="http://www.maceio.al.gov.br/sms/">SECRETARIA MUNICIPAL DE SAÚDE – SMS</a></strong></p>

<p><strong>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; </strong>Rua Dias Cabral, 569, Centro. Maceió/AL. CEP 57020-250 - Telefone: (82) 3315-5180.</p>

<p><strong>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; Horário de atendimento ao público: das 8h às 14h.</strong></p>

<p><strong>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</strong><strong>SECRETÁRIO:&nbsp;</strong><strong>JOSÉ THOMAZ DA SILVA NONÔ NETO</strong></p>

<p><strong>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; </strong>SECRETÁRIA ADJUNTA: Nadja Tenório Marinho</p>

<p><strong>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; </strong>SECRETÁRIO ADJUNTO DE GOVERNANÇA: Keylle André Bida de Lima</p>

<p><strong>&nbsp; &nbsp; &nbsp; &nbsp;18.<a href="http://www.maceio.al.gov.br/semtabes/">SECRETARIA MUNICIPAL DE TRABALHO, ABASTECIMENTO E ECONOMIA SOLIDÁRIA – SEMTABES</a></strong></p>

<p><strong>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; </strong>Rua Barão de Anadia, Nº 85 – Centro, Maceió/AL CEP: 57020-630 - Telefone: (82) 3315.6260 / Atendimento SINE: (82) 3315.6205.</p>

<p><strong>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; Horário de atendimento ao público: das 8h às 14h.</strong></p>

<p><strong>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</strong><strong>SECRETÁRIO:&nbsp;</strong><strong>FLÁVIO SARAIVA DA SILVA</strong></p>

<p><strong>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; </strong>SECRETÁRIO ADJUNTO: Anderson de Moraes Mendes</p>

<p><strong>&nbsp; &nbsp; &nbsp; &nbsp;</strong><strong>19.&nbsp;<a href="http://www.maceio.al.gov.br/arser/">AGÊNCIA MUNICIPAL DE REGULAÇÃO DE SERVIÇOS DELEGADOS – ARSER</a></strong></p>

<p><strong>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; </strong>Rua Imperador, Nº 141, Centro. Maceió/AL. CEP: 57020-670 - Telefone: (82) 3315.3718.</p>

<p><strong>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; Horário de atendimento ao público: das 8h às 14h.</strong></p>

<p><strong>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</strong><strong>DIRETOR- PRESIDENTE: RODRIGO BORGES FONTAN&nbsp;</strong></p>

<p><strong>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; </strong>DIRETORIA EXECUTIVA: Vanderléia Antônia Guaris Costa</p>

<p><strong>&nbsp; &nbsp; &nbsp; &nbsp;20.&nbsp;<a href="http://www.maceio.al.gov.br/semtur/">SECRETARIA MUNICIPAL DE TURISMO – SEMTUR</a></strong></p>

<p><strong>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; </strong>Avenida da Paz, nº 1422, Centro, Maceió/AL. CEP: 57020-440 - Telefone: (82) 3336.3650.</p>

<p><strong>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; Horário de atendimento ao público: das 8h às 14h.</strong></p>

<p><strong>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</strong><strong>SECRETÁRIO:&nbsp;</strong><strong>JAIR GALVÃO FREIRE NETO</strong></p>

<p><strong>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; </strong>SECRETÁRIA ADJUNTA: Graziella Helena Fritsche</p>

<p><strong>&nbsp; &nbsp; &nbsp; &nbsp;21.&nbsp;<a href="http://www.maceio.al.gov.br/iprev/">INSTITUTO DE PREVIDÊNCIA DOS SERVIDORES PÚBLICOS DO MUNICÍPIO DE MACEIÓ – IPREV</a></strong></p>

<p><strong>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; </strong>Rua Comendador Palmeira, Nº 502, Farol, Maceió/AL. CEP: 57051-150 Telefone: (82) 3315.4122.</p>

<p><strong>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; Horário de atendimento ao público: das 8h às 14h.</strong></p>

<p><strong>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</strong><strong>DIRETORA-PRESIDENTE:&nbsp;</strong><strong>FABIANA TOLEDO VANDERLEI DE AZEVEDO</strong></p>

<p><strong>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; </strong>DIRETORIA DE ADMINISTRAÇÃO, ORÇAMENTO E FINANÇAS: Elesjandely Correia Calheiros Marques&nbsp;</p>

<p><strong>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; </strong>DIRETORIA DE PREVIDÊNCIA: Ana Carla Tavares Oliveira</p>

<p><strong>&nbsp; &nbsp; &nbsp; &nbsp;22.&nbsp;<a href="http://www.maceio.al.gov.br/fmac/">FUNDAÇÃO MUNICIPAL DE AÇÃO CULTURAL&nbsp;-&nbsp;</a><a href="http://www.maceio.al.gov.br/fmac/">FMAC</a></strong></p>

<p><strong>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; </strong>Avenida da Paz, Nº 900, Jaraguá, Maceió/AL. CEP: 57022-050 - Telefone: (82) 3221.2090.</p>

<p><strong>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; Horário de atendimento ao público: das 8h às 14h.</strong></p>

<p><strong>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</strong><strong>DIRETOR PRESIDENTE:&nbsp;</strong><strong>VINÍCIUS CAVALCANTE PALMEIRA</strong></p>

<p><strong>&nbsp; &nbsp; &nbsp; &nbsp;23.&nbsp;<a href="http://www.maceio.al.gov.br/sima/">SUPERINTENDÊNCIA MUNICIPAL DE ILUMINAÇÃO – SIMA</a></strong></p>

<p><strong>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; </strong>Rua Marquês de Abrantes, s/nº, Bebedouro, Maceió/AL. CEP: 57018-330 - Telefone: (82) 3315.6410/(82) 3315.3821/ (82) 3315.3828 - CALL CENTER: 0800 031 9055.</p>

<p><strong>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; Horário de atendimento ao público: das 8h às 14h.</strong></p>

<p><strong>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</strong><strong>SUPERINTENTE:&nbsp;</strong><strong>TÁCIO MELO DA SILVEIRA</strong></p>

<p><strong>&nbsp; &nbsp; &nbsp; &nbsp;24.&nbsp;<a href="http://www.maceio.al.gov.br/slum/">SUPERINTENDÊNCIA MUNICIPAL DE LIMPEZA URBANA – SLUM</a></strong></p>

<p><strong>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; </strong>Praça Ciro Acioly, Nº 96 - Ponta Grossa, Maceió/AL. CEP: 57014-710 - Telefone: (82) 3315. 3026.</p>

<p><strong>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; Horário de atendimento ao público: das 8h às 14h.</strong></p>

<p><strong>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;SUPERINTENDENTE (INTERINO):&nbsp;GUSTAVO ALBERTO ACIOLI DE PAIVA TORRES</strong></p>

<p><strong>&nbsp; &nbsp; &nbsp; &nbsp;25.&nbsp;<a href="http://www.maceio.al.gov.br/smtt/">SUPERINTENDÊNCIA MUNICIPAL DE TRANSPORTE E TRÂNSITO – SMTT</a></strong></p>

<p><strong>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; </strong>Avenida Durval de Góes Monteiro, Nº 829, Tabuleiro do Martins, Maceió/AL. CEP: 57030-170 -Telefone: (82)</p>

<p>3315.3586.</p>

<p><strong>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; Horário de atendimento ao público: das 8h às 14h.</strong></p>

<p><strong>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</strong><strong>SUPERINTENDENTE:&nbsp;</strong><strong>ANTÔNIO JOSÉ GOMES DE MOURA</strong></p>

<p><strong>&nbsp; &nbsp; &nbsp; &nbsp;26.&nbsp;<a href="http://www.maceio.al.gov.br/comarhp/">COMPANHIA MUNICIPAL DE ADMNISTRAÇÃO, RECURSOS HUMANOS E PATRIMÔNIO – COMARPH</a>&nbsp;</strong></p>

<p><strong>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; </strong>Rua General Hermes, Nº 281, Cambona, Maceió/AL. CEP: 57017-010 - Telefone: (82) 3336.4444.</p>

<p><strong>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; Horário de atendimento ao público: das 8h às 14h.</strong></p>

<p><strong>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</strong><strong>PRESIDENTE:&nbsp;</strong><strong>ALAN HELTON DE OMENA BALBINO</strong></p>
</p>
						</div>        
					</div>
				</div><!-- end ngRepeat: tab in tabs -->
  </div>
</div>
		</div>



	</section>

	<!-- <hr class="hr">-->

    <section class="contato">

        <div class="box-content width-contato">

            <div class="row contato-titulo">

                <h3>Contato</h3>

            </div>

            <div class="row no-margin">
                
                <div class="col social-networks">

                    <h4>Nossas Redes</h4>
    
                    <ul>
    
                        <li><a href="https://www.facebook.com/PrefeituraDeMaceio/" target="_blank">
                            <img src="public/img/facebook.png" alt="Siga-nos no Facebook" class="zoom"></a>
                        </li>
                        <li><a href="https://www.instagram.com/prefeiturademaceio/?hl=pt-br" target="_blank">
                            <img src="public/img/twitter.png" alt="Siga-nos no Twitter" class="zoom"></a>
                        </li>
                        <li><a href="https://twitter.com/prefmaceio" target="_blank">
                            <img src="public/img/insta.png" alt="Siga-nos no Instagram" class="zoom"></a>
                        </li>
    
                    </ul>
    
                </div>

                <div class="col col-lg-6 endereco">
                    
                    <h4>Endereço</h4>
                    
                    <iframe 
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3933.0957625117294!2d-35.723990584669785!3d-9.672858704917784!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x701456da12fd8fd%3A0xfbe3b3725a897ac8!2sR.%20S%C3%A1%20e%20Albuquerque%2C%20235%20-%20Jaragu%C3%A1%2C%20Macei%C3%B3%20-%20AL%2C%2057022-180!5e0!3m2!1spt-BR!2sbr!4v1573661393472!5m2!1spt-BR!2sbr" height="150" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
                    
                    <p>
                        Rua Sá e Albuquerque, 235, Jaraguá, Maceió/AL. CEP: 57022-180 <br>
                        Telefones: 3315-5070 / 3315-5072
                    </p>

                </div>

                <div class="col container">
                    <div class="row">
                        <h4>Avaliação do Portal</h4>
                    </div>

                    <div class="row lead">
                        <p>Qual é a sua avalição sobre este portal?</p>
                        <div id="stars" class="starrr"></div>
                        <p>Minha nota: <span id="count">0 </span> estrela(s)</p>
                        <p>Alguma informação não foi localizada no Portal?<a href=""> Fale Conosco</a></p>
                    </div>

                </div>    
            </div>

        </div>

    </section>

    <footer class="footer">
        
        <div class="footer-img">

            <img src="public/img/logo-cidade-inteligente.png" alt="Maceió Cidade Inteligente">

        </div>
        
        <div class="footer-text text-light">

            <p>© 2019 DTI (Diretoria de Tecnologia da Informação) Prefeitura Municipal de Maceió.<br>
                Todos os direitos reservados.</p>

        </div>

    </footer>
    
    <script src="public/js/jquery-3.4.1.min.js"></script>
    <script src="public/js/bootstrap.bundle.min.js"></script>
    <script src="public/js/bootstrap.min.js"></script>
    <script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="public/js/rating.js"></script>
    
</body>

</html>