@import url("reset.css");
@import url("servicos.css");


body, html {
    font-family: 'Montserrat' !important;
    font-weight: bold !important;
}

label, table, p, .tab-content {
    font-size: 14px !important;
}

/* -------- Header ------------ */

.navbar {
    background-color: #3573ba;
    height: 55px;
    box-shadow: 0 0 7px black;
}

.navbar li a {
    color: #FFF !important;
    font-size: 15px;
}

header .jumbotron {
    text-align: center;
    color: white;
}

.jumbotron {
    background: url("../img/banner.jpg") no-repeat;
    background-size: cover;
    margin-top: 55px;
    filter: drop-shadow(0 2px 4px black);
    height: 375px;
}

.filter-shadow {
    filter: drop-shadow(2px 4px 6px black);
}

.logo-maceio {
    width: 171px;
}

.titulo-site {
    font-weight: bold;
    margin-top: 2%;
    margin-bottom: 2%;
    font-size: 40px !important;
}

.width-input {
    width: 75% !important;
}

/* -------- Body ------------ */

.section-blue {
    background-color: #3573ba;
    height: 300px;
    text-align: center;
    color: white;
}

.section-white, .contato {
    background-color: #ffffff;
    text-align: center;
    color: black;
}

.box-content {
    width: 90%;
    padding: 2% 0;
    margin-left: auto;
    margin-right: auto;
    color: #000000;
}

h3 {
    margin-bottom: 2% !important;
}

.conteudo-geral {
    width: 100%;
    float: left;
    margin: 0 auto;
    text-align: center;
}

.servico-box {
    background-color: rgba(255, 255, 255, 0.1);
    box-shadow: 0 0 7px #000000d4;
    color: #3673ba;
    padding: 10px;
    margin: 10px 12px 6px 0;
    width: 160px;
    height: 135px;
    max-height: 150px;
    display: inline-block;
    vertical-align: top;
    border-radius: 10px;
}

.servico-box-icone {
    position: relative;
    display: flex;
    padding: 5px 0 10px 0;
    justify-content: center;
    align-items: center;
    border: 0px;
    border-bottom: 3px solid #3673ba;
}

.servico-box-texto {
    border: 0px;
    padding-top: 10px;
    max-width: 100%;
    position: relative;
}

.servico-box .titulo {
    color: #3673ba;
    font-size: 18px;
    font-weight: 700;
    margin-top: -7px;
    width: 100%;
    display: block;
    position: relative;
}

.fades {
    overflow: hidden;
    transition: all 0.4s ease 0s;
}

.fades:hover {
    box-shadow: inset 0 0 0 4px #3673ba;
}

.hr {
    width: 80%;
}

.servico-box img {
    width: 50px;
}

.no-decor:hover {
    text-decoration: none;
}

.no-margin {
    margin: 0 !important;
}

.zoom {
    overflow: hidden;
    max-width: 100%;
    -moz-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}

.zoom:hover {
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}


/* -------- Sites ------------ */

.titulo-sites, .titulo-about, .titulo-talk {
    /*color: #3673ba;*/
    color: #000000;
}

.sites-box {
    background-color: rgba(255, 255, 255, 0.1);
    box-shadow: 0 0 7px #000000d4;
    color: #3673ba;
    padding: 0;
    margin: 10px 15px 10px 15px;
    width: 230px;
    height: 135px;
    max-height: 150px;
    display: inline-block;
    vertical-align: top;
    border-radius: 10px;
}

.sites-box-img {
    position: relative;
    display: flex;
    padding: 0 0 10px 0;
    justify-content: center;
    align-items: center;
    border: 0px;
    border-bottom: 3px solid #3673ba;
}

.sites-box img {
    width: 230px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.sites-box-texto {
    border: 0px;
    padding-top: 5px;
    max-width: 100%;
    position: relative;
}

.sites-box .titulo {
    color: #3673ba;
    font-size: 18px;
    font-weight: 700;
    margin-top: -4px;
    width: 100%;
    display: block;
    position: relative;
}

/* -------- Contato ------------ */

.width-contato {
    width: 85%;
}

.contato p {
    font-size: 14px;
}

.contato li a img {
    /*width: 35px;*/
    width: 45px;
}

.contato-titulo {
    justify-content: center;
    margin-bottom: 2%;
}

.social-networks h4 {
    margin-bottom: 6%;
}

.endereco {
    border-right: 1px solid rgba(0,0,0,.1);
    border-left: 1px solid rgba(0,0,0,.1);
    padding-right: 20px !important;
    padding-left: 20px !important;
}

.endereco h4 {
    margin-bottom: 3%;
}

.social-networks li {
    margin: 2% 0;
}

.menu-superior .nav>li>a {
    padding: 16px 15px;
}

.menu-superior .nav>li>a:hover {
    background-color: #488dce;
}

iframe {
    width: 100%;
}

.container .row {
    display: contents;
}


/* -------- Footer ------------ */

.footer {
    background-color: #3573ba;
    width: 100%;
    height: 70px;
    bottom: 0;
    padding: .3rem 1rem;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 0 7px black;
}

.footer .footer-img {
    float: left;
    margin-right: 15px;
}

.footer img {
    /* width: 13%; */
    height: 50px;
}

.footer-text {
    text-align: right;
}

.footer-text p {
    margin-bottom: 0;
}

/* -------- siteMap & about ------------ */

.sitemap-top, .about-top, .talk-top {
    margin-top: 55px;
}

.about-width {
    width: 75%;
}

.sitemap-width {
    width: 85%;
}

.box-sitemap, .box-about, .box-talk {
    /*background-color: rgba(255, 255, 255, 0.1);
    background-color: rgba(255, 255, 255, 0.53);*/
    background-color: rgba(255, 255, 255, 0.75);
    box-shadow: 0 0 7px #000000d4;
    padding: 20px;
    margin: 20px 0;
    width: 100%;
    height: auto;
    display: inline-block;
    vertical-align: top;
    border-radius: 10px;
    font-size: 14px;
    text-align: left;
}

.box-about {
    padding: 30px 40px;
    text-align: justify;
}

.about-text {
    color: #3573ba;
    font-weight: bold;
    font-size: 16px !important;
    line-height: 25px;
    margin-bottom: 0;
}

section .col-md-3 {
  border-left: 1px solid #ccc;
}

.fade {
    opacity: unset !important;
}

.no-padding {
    padding: 0 !important;
}

section .col-md-3:first-child {
  border: none;
}

.title-map {
    background-color: #3573ba;
    padding: 1px 1px 1px 4px;
    border-radius: 3px;
}

.title-map a {
    color: #FFFFFF;
    font-weight: bold;
    font-size: 15px;
}

.title-map a:hover, 
.title-map a:active,
.title-map a:focus {
    color: #FFFFFF;
    text-decoration: none;
}

.box-sitemap ul {
    list-style: none;
    margin-top: 5px;
    padding-left: 20px;
}

.box-sitemap ul li a {
    color: #3573ba;
    text-decoration: none;
    -moz-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}

.box-sitemap ul li:hover {
    font-weight: bold;
    padding-left: 5px;
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

.map-bottom {
    margin-bottom: 20px;
}

@media (max-width: 767px) {
    section .col-md-3 {
        border-left: none;
    }

    .box-sitemap ul li:hover {
        -moz-transform: scale(1);
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

/* ---------- imagem background ----------- */

#backg-section {
    background: url(../img/03_Maceioanoite.jpg) no-repeat center top;
    background-color: #7bc3d1;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

#backg-section .overlay, 
#about-section .overlay,
#talk-section .overlay {
    background: -moz-linear-gradient(top, rgba(225, 233, 234, 0.85) 0%, rgba(236, 245, 247, 0.75) 100%);
    background: -webkit-linear-gradient(top, rgba(225, 233, 234, 0.85) 0%, rgba(236, 245, 247, 0.75) 100%);
    background: linear-gradient(to bottom, rgba(225, 233, 234, 0.85) 0%, rgba(236, 245, 247, 0.75) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#053740', endColorstr='#bf053740', GradientType=0 );
}

#about-section {
    background: url(../img/04_PontaVerde.png) no-repeat center top;
    background-color: #7bc3d1;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

#talk-section {
    background: url(../img/01_EstruturaChallenge.jpg) no-repeat center top;
    background-color: #7bc3d1;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

/* ---------- Fale conosco ----------- */

.buttons-talk {
    margin-top: 4%;
    text-align: center;
}

.btn-talk {
    margin: 0 5px;
    width: 100px;
}

.text-talk {
    font-size: 16px !important;
}

/* ---------- form edited ----------- */

.form-group {
    margin-bottom: 5px !important;
}

label {
    margin-bottom: 0 !important;
}

.btn-primary {
    background-color: #3573ba !important;
    border-color: #3573ba !important;
}




